* {
    padding:  0;
    margin: 0;
    color: white;
}
a {
    text-decoration: none;
    color: rgb(185, 183, 255);
    text-shadow:  1px 1px 2px black;
}
header {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    height: 10vh;
    padding: 15px;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: 5px rgb(108, 41, 117) solid;
}
header h1
{
    justify-self: center;
}
header nav {
    flex-wrap: wrap;
    display: flex;
    gap: 25px;
}
.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 50vh;
    background-color: rgb(20, 20, 20);
    overflow: scroll;
    scrollbar-width: none;
    border-bottom: 5px rgb(108, 41, 117) solid;
}
.profile-info h1 {
    background: linear-gradient(45deg, white, rgb(92, 26, 179));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.profile-info img {
    height: 200px;
    width: 200px;
}
.item-info {
    border-left: 2px orange solid;
    background-color: rgb(68, 41, 117);
    padding: 15px;
}
main {
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(rgb(20, 20, 20), rgb(68, 41, 117));
}
.line {
    height: 2px;
    background-color: rgb(108, 41, 117);
}
.item-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    margin: 5%;
    padding: 25px;
    height: fit-content;
    background-color: rgba(90, 48, 95, 0.5);
    box-shadow: 0px 0px 10px 10px rgb(0, 0, 0)
}
.item-main h1 {
    color: white;
    text-shadow: 2px 2px 15px rgb(206, 102, 219);
}
.item-main h2 {
    color: rgb(153, 78, 163);
    text-shadow: 1px 1px 5px black;
}